.Rproj.user
.Rhistory
.RData
.Ruserdata
48.png
Box1 Mount A
Box1 Mount B
Box1_WRB.pptx
Box2 Mount A
Box2 Mount B
Box2_NRB.pptx
Box3
Box3_GB.pptx
Gridplot.tiff
Gridplot_OH-center.tiff
Gridplot_OH.tiff
Gridplot_d18O-center.tiff
Gridplot_d18O.tiff
LA-Plots
Mapping_selection.pptx
OH-16O plots
Oto_cleanup.RData
~$Mapping_selection.pptx
d18O-plots
